*.o
broker
client
depl_unit
server
health_checker_broker
health_checker_server
!include/*
!src/*
src/*/*.o

# Executables
*.exe
*.out
*.app
.*
/Debug/
# Codelite files
*.project
*.workspace
# Specific binaries

